@charset "utf-8";

.logo img {
  height: 50px;
  width: 300px;
}

.koumoku li {
  display: inline;
  list-style: none;
  color: white;
  margin-right: 40px;
}

.koumoku {
  background-color: black;
  height: 50px;
  margin: auto;
  line-height: 50px;

}

.top {
  margin-left: 50px;
}

.left {
  float: left;
  width: 70%;
  padding-right: 50px;
  height: auto;
  font-family: sans-serif;
}

.right {
  float: left;
  width: 25%;
}

.left h2 {
  border-left: solid 6px black;
  border-bottom: solid 1px black;
  padding-left: 5px;

}


.kiji h2 {
  border-bottom: dotted 2px;
}

.link h2 {
  border-bottom: dotted 2px;
}

.category h2 {
  border-bottom: dotted 2px;
}

.kiji li {
  list-style: none;
  margin-bottom: 15px;
}

.link li {
  list-style: none;
  margin-bottom: 15px;
}

.category li {
  list-style: none;
  margin-bottom: 15px;
}

footer {
  clear: left;
  bottom: 0px;
  margin-top: 800px;
  height: 50px;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 50px;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

h1 {

  margin-top: 30px;
  margin-bottom: 20px;
  border-left: 4px red solid;
  background-color: #f1f1f1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  width: 96%;
  font-size: 20px;
}

form {
  background-color: #fbfbfb;
  border: 3px #ebebeb solid;
  border-radius: 10px;
  width: 100%;
}

form div {
  padding: 15px;
}

.text,
textarea,
.dropdown {
  border: 1px solid #dfdfdf;
  padding: 5px;
  color: black;
  background: #fff;
}

.submit {
  border: 1px solid lightgray;
  padding: 4px 10px;
  color: white;
  background-color: #bfbfbf;
  border-radius: 5px;
  border-bottom: solid 2px gray;
}

.kiji2 {
  background-color: #fbfbfb;
  border: 3px #ebebeb solid;
  border-radius: 10px;
  width: 100%;
  margin-top: 25px;
  padding-left: 15px;
}

.kiji2 h3 {
  border-bottom: dotted 2px;
}